dj-config-url==0.1.1
dj-database-url==2.1.0
dj-email-url==1.0.6
Django==3.2.15
django-cache-url==3.4.4
django-debug-toolbar==3.2.1
django-phonenumber-field==7.1.0
django-request==1.6.3
djangorestframework==3.14.0
environs==9.3.2
geographiclib==2.0
geopy==2.4.0
phonenumbers==8.13.21
Pillow==10.0.1
python-dotenv==1.0.0
requests==2.31.0
rollbar==1.0.0
psycopg2==2.9.9


